:root {
  --border-radius-small: 5px;
  --border-radius-medium: 12px;
  --border-radius-large: 22px;
  --font-extra-large: 30px;
  --font-large: 24px;
  --font-medium: 14px;
  --border-color: rgba(255, 255, 255, 0.9);
  --background-secondary: #333;
}

/* Reset default margin, padding, and box-sizing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main styling */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  position: relative;
}

#weather-app {
  width: min(90%, 450px);
  min-height: 407px;
  background-color: var(--background-secondary);
  border-radius: var(--border-radius-large);
  padding: 28px;
  font-weight: 200;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border: 3px solid var(--border-color);
  position: relative;
}

.preloader {
  position: absolute;
  background-color: #333;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--border-radius-large);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container .location-form {
  width: 100%;
  display: flex;
  gap: 8px;
}

.input-container .location-input {
  font-family: "Poppins", sans-serif;
  padding: 8px 16px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: var(--border-radius-large);
}

.input-container .location-warning {
  color: #ff0000;
  width: 100%;
  padding-left: 16px;
  visibility: hidden;
}

.input-container .view-btn {
  font-family: "Poppins", sans-serif;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  background-color: #f2dd6e;
  border-radius: var(--border-radius-large);
  height: fit-content;
  transition: 200ms;
}

.input-container .view-btn:hover {
  background-color: #d5874f;
}

.weather-info-container {
  color: #fff;
  margin-top: 16px;
}

.weather-info-container .location-container {
  text-align: center;
}

.weather-info-container .location-container span {
  display: inline-block;
}

.weather-info-container span {
  display: block;
}

.weather-info-container .temperature-celsius,
.weather-info-container .temperature-fahrenheit {
  font-size: var(--font-extra-large);
  display: inline-block;
}

.weather-info-container .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.weather-info-container .weather-info .weather-description {
  font-size: var(--font-extra-large);
  font-weight: 400;
}

.temperature-secondary .temperature-feel,
.temperature-secondary .wind-speed,
.temperature-secondary .humidity-level,
.temperature-secondary .pressure,
.temperature-secondary .uv,
.temperature-secondary .wind-direction {
  font-size: var(--font-medium);
}

.weather-info-container .temperature-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-info-container .temperature-secondary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature-main .current-time {
  font-size: var(--font-large);
}

.temperature-secondary .pressure,
.temperature-secondary .uv,
.temperature-secondary .humidity-level {
  text-align: right;
}

.error-msg-container {
  min-width: 280px;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border-radius: var(--border-radius-medium);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.error-msg-container .close-btn {
  font-family: "Poppins", sans-serif;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: var(--border-radius-small);
  padding: 8px 25px;
  cursor: pointer;
}

/* Dynamic classes */
.hide {
  display: none;
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
}
